//VARIABLES
// =======================
$font-stack: 'Bai Jamjuree', sans-serif;
$font-size: 18px;
$Strong-Cyan: hsl(171, 66%, 44%);
$Light-Blue: hsl(233, 100%, 69%);
$G-B: hsl(210, 10%, 33%);
$Grayis-Blue: hsl(201, 11%, 66%);

// STYLES

body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font-stack;
  color: $G-B;
  background-color: #ffffff;
  p{
    color: $Grayis-Blue;
  }
}
header{
  background: url(../images/bg-header-desktop.png) no-repeat;
  height: 80vh;
  img{
    margin-left: 45%;
    margin-top: 10%;
  }
  .hero{
    margin-top: 50px;
    text-align: center;
  }
  .btn{
    width: 180px;
    height: 40px;
    border-radius: 50px;
    border: none;
    margin: 20px;
    color: #fff;
    cursor: pointer;
  }
  .btn__green{
    background-color: $Strong-Cyan;
  }
  .btn__blue{
    background-color: $Light-Blue;
  }
}
//MIXINS
//===========================
